<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxs.dao.MenuDao">
	<cache type="org.mybatis.caches.ehcache.EhcacheCache" />
	<!-- 查询所有菜单信息 -->
	<select id="getMenuBy" resultType="menuBean">
		select menu_id, menu_name,parent_menu,
		menu_url, menu_state, menu_del, menu_remark
		from menu_tb
		where menu_del = 0
		<if test="menuName!=null and menuName!=&quot;&quot;">
         	and menu_name like concat(concat('%',#{menuName}),'%')
         </if>
         <if test="menuState!=null and menuState!=&quot;&quot; and menuState!=999">
        	 and menu_state like concat(concat('%',#{menuState}),'%')
         </if>
	</select>
	
	
	<!-- 查询所有菜单信息 -->
	<select id="getMenu" resultType="menuBean">
		select menu_id, menu_name,parent_menu,
		menu_url, menu_state, menu_del, menu_remark
		from menu_tb
		where menu_del = 0
	</select>
	
	<!-- 根据用户id查询当前用户下的所有菜单信息 -->
	<select id="getMenuByUserId" resultType="menuBean">
		       select m.menu_id,
           m.menu_name,
           m.menu_url,
           m.parent_menu,
           m.menu_state,
           m.menu_del,
           m.menu_remark
      from menu_tb m, role_tb r, role_menu rm
     where m.menu_id = rm.menu_id
       and r.role_id = rm.role_id
       and r.role_id = (select role_id from user_role where user_id = #{userId})
	</select>
	
	<select id="getMenuById" resultType="menuBean">
		select menu_id, menu_name,
		menu_url, menu_state, menu_del, menu_remark
		from menu_tb
		where menu_del = 0 and menu_id = #{menuId}
	</select>
	
	<!-- 添加菜单信息 -->
	<insert id="insertMenu">
		insert into 
		menu_tb(menu_id,menu_name,parent_menu,menu_url,menu_state,menu_del,menu_remark) 
		values(menu_seq.nextval,#{menuName},#{parentMenu},#{menuUrl},${menuState},#{menuDel},#{menuRemark})
	</insert>
	
	<!-- 修改菜单信息 -->
	<update id="updateMenuById">
		update menu_tb 
		set menu_name=#{menuName},menu_url=#{menuUrl},menu_state=#{menuState},menu_remark=#{menuRemark}
		where menu_id = #{menuId}
	</update>
	
	<!-- 删除菜单 -->
	<update id="deleteMenuById">
		update menu_tb set menu_del=1 where menu_id = #{menuId}
	</update>
</mapper>