<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxs.dao.MenuDao">
	<cache type="org.mybatis.caches.ehcache.EhcacheCache" />

<!-- 查询所有菜单信息 -->
	<select id="getMenu" resultType="menuBean">
		select menu_id, menu_name,
		menu_url, menu_state, menu_del, menu_remark
		from menu_tb
		where menu_del = 0
	</select>
	
</mapper>