<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxs.dao.UserDao">
	<cache type="org.mybatis.caches.ehcache.EhcacheCache" />
	<resultMap id="loginran" type="com.yxs.bean.UserBean">
		<id column="user_id" jdbcType="INTEGER" property="userId" />
		<id column="dept_id" jdbcType="INTEGER" property="deptId" />
		<result column="user_code" jdbcType="INTEGER" property="userCode" />
		<result column="loginname" jdbcType="VARCHAR" property="loginName" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="user_name" jdbcType="VARCHAR" property="userName" />
		<result column="sex" jdbcType="INTEGER" property="sex" />
		<result column="id_card" jdbcType="VARCHAR" property="idCard" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone" />
		<result column="user_email" jdbcType="VARCHAR" property="userEmail" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="user_img" jdbcType="VARCHAR" property="img" />
		<result column="user_remark" jdbcType="VARCHAR" property="userRemark" />
		<result column="login_count" jdbcType="INTEGER" property="loginCount" />
		<result column="user_del" jdbcType="INTEGER" property="del" />
		<result column="add_time" jdbcType="VARCHAR" property="addTime" />
	</resultMap>
	<select id="login" resultMap="loginran">
		select
		user_id,dept_id,user_code,loginname,password,user_name,sex,id_card,phone,mobile_phone,user_email,address,user_img,user_remark,login_count,user_del,add_time
		from user_tb
		where loginname = #{loginName} and password = #{password}
	</select>

	<update id="updateLoginNum">
		update user_tb set login_count = login_count +1 where
		user_id = #{userId}
	</update>

	<update id="updateInfo">
		update user_tb set
		user_name=#{userName},sex=#{sex},id_card=#{idCard},phone=#{phone},mobile_phone=#{mobilePhone},user_email=#{userEmail},user_img=#{img},user_remark=#{userRemark}
		where user_id=#{userId}
	</update>

	<update id="updatePs">
	update user_tb set password=#{password} where user_id=#{userId}
	</update>

	<resultMap id="myUser" type="com.yxs.bean.UserBean">
		<id column="user_id" property="userId" />
		<result column="user_code" property="userCode" />
		<result column="loginname" property="loginName" />
		<result column="password" property="password" />
		<result column="user_name" property="userName" />
		<result column="sex" property="sex" />
		<result column="id_card" property="idCard" />
		<result column="phone" property="phone" />
		<result column="mobile_phone" property="mobilePhone" />
		<result column="user_email" property="userEmail" />
		<result column="address" property="address" />
		<result column="img" property="img" />
		<result column="user_remark" property="userRemark" />
		<result column="user_del" property="del" />
		<result column="dept_id" property="deptBean.deptId" />
		<result column="dept_name" property="deptBean.deptName" />
		<result column="role_id" property="roleBean.roleId" />
		<result column="role_name" property="roleBean.roleName" />
	</resultMap>
	<select id="getAllUser" resultMap="myUser">
		select u.user_id user_id,
		u.user_code user_code,
		u.loginname loginname,
		u.password password,
		u.user_name user_name,
		u.sex sex,
		u.id_card id_card,
		u.phone phone,
		u.user_del user_del,
		d.dept_id dept_id,
		d.dept_name
		dept_name,
		r.role_id role_id,
		r.role_name role_name
		from user_tb u,
		dept_tb d, role_tb r,user_role ur
		where u.dept_id = d.dept_id
		and
		d.dept_id = r.dept_id
		and u.user_id = ur.user_id
		and r.role_id =
		ur.role_id
		and u.user_del = 0
		<if test="userName!=null and userName!=&quot;&quot;">
			and u.user_name like concat(concat('%',#{userName}),'%')
		</if>
		<if test="roleName!=null and roleName!=&quot;&quot;">
			and r.role_name like concat(concat('%',#{roleName}),'%')
		</if>
		<if test="deptName!=null and deptName!=&quot;&quot;">
			and d.dept_name like concat(concat('%',#{deptName}),'%')
		</if>
	</select>

	<select id="getUserById" resultMap="loginran">
		select
		user_id,dept_id,user_code,loginname,password,user_name,sex,id_card,phone,mobile_phone,user_email,address,user_img,user_remark,login_count,user_del,add_time
		from user_tb
		where user_id = #{userId}
	</select>
</mapper>